@charset "UTF-8";
/* S 基础操作样式
 * style comment! */
/* E 基础操作样式
 * style comment! */
/*basic css*/
/*html,*/
/*body,*/
/*dl,*/
/*dd,*/
/*img,*/
/*form,*/
/*div,*/
/*ul,*/
/*ol,*/
/*li,*/
/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6,*/
/*p,*/
/*button {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  border: 0;*/
/*}*/
@font-face {
  font-family: 'Arial';
  src: url('https://enoss.urovo.com/product/R7/fonts/arial/Arial.eot');
  src: url('https://enoss.urovo.com/product/R7/fonts/arial/Arial.ttf') format('truetype');
}


/*body {*/
/*  font-size: 12px;*/
/*  font-family: "Microsoft YaHei", '微软雅黑', "Arial";*/
/*  background-color: #222222;*/
/*  width: 100%;*/
/*  overflow-x: hidden;*/
/*}*/
/*input,*/
/*textarea,*/
/*button {*/
/*  padding: 0;*/
/*  font-family: "Microsoft YaHei", '微软雅黑', "Arial";*/
/*}*/
/*input[type="button"],*/
/*input[type="submit"],*/
/*input[type="reset"] {*/
/*  -webkit-appearance: none;*/
/*}*/
/*input {*/
/*  outline: none;*/
/*  -webkit-appearance: none;*/
/*  !*去除系统默认的样式*!*/
/*  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*  !* 点击高亮的颜色*!*/
/*}*/
/*input:focus {*/
/*  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*  -webkit-user-modify: read-write-plaintext-only;*/
/*}*/
/*.fix:after {*/
/*  clear: both;*/
/*  content: "";*/
/*  display: table;*/
/*}*/
/*input:focus,*/
/*textarea:focus {*/
/*  outline: none;*/
/*}*/
/*textarea {*/
/*  -webkit-appearance: none;*/
/*}*/
/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
/*  font-weight: normal;*/
/*}*/
/*a {*/
/*  cursor: pointer;*/
/*}*/
/*ul,*/
/*ol,*/
/*li {*/
/*  list-style-type: none;*/
/*}*/
/*.slick-slide:focus,*/
/*input:focus,*/
/*a:focus {*/
/*  outline: none !important;*/
/*}*/
/*img {*/
/*  border: 0;*/
/*  vertical-align: middle;*/
/*  max-width: 100%;*/
/*}*/
/*select,*/
/*input,*/
/*textarea,*/
/*button {*/
/*  vertical-align: middle;*/
/*  outline: none;*/
/*}*/
/*table {*/
/*  border-collapse: collapse;*/
/*  border-spacing: 0;*/
/*}*/
/*tr {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/*td {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/*iframe {*/
/*  border: none;*/
/*}*/
/*select {*/
/*  appearance: none;*/
/*  -moz-appearance: none;*/
/*  -webkit-appearance: none;*/
/*  outline: none;*/
/*}*/
/*a:link {*/
/*  text-decoration: none;*/
/*}*/
/*a:visited {*/
/*  text-decoration: none;*/
/*}*/
/*a:hover {*/
/*  text-decoration: none;*/
/*}*/
/*a:active {*/
/*  text-decoration: none;*/
/*}*/
/*.hidden {*/
/*  display: none;*/
/*  visibility: hidden;*/
/*}*/
/*.wrap {*/
/*  border: 0;*/
/*  padding: 0;*/
/*  width: 1150px;*/
/*  margin: 0 auto;*/
/*  *zoom: 1;*/
/*}*/
/*.wrap:after {*/
/*  clear: both;*/
/*  content: "";*/
/*  display: table;*/
/*}*/
/*.clear {*/
/*  clear: both;*/
/*  font-size: 0;*/
/*  line-height: 0;*/
/*  height: 0;*/
/*  visibility: hidden;*/
/*}*/
/*.fix {*/
/*  *zoom: 1;*/
/*}*/
/*.radius-wrap {*/
/*  width: 44px;*/
/*  height: 44px;*/
/*  top: 92vh;*/
/*  left: 50%;*/
/*  right: 50%;*/
/*  margin: 0 -22px;*/
/*  z-index: 1000;*/
/*  position: absolute;*/
/*  cursor: pointer;*/
/*}*/
/*.radius {*/
/*  width: 0.44rem;*/
/*  height: 0.44rem;*/
/*  border: 1px solid #fff;*/
/*  border-radius: 50%;*/
/*  text-align: center;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/
/*a {*/
/*  display: inline-block;*/
/*  max-width: 100%;*/
/*}*/
/*.ones {*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*  white-space: nowrap;*/
/*}*/
/*.twos {*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*  display: -webkit-box;*/
/*  -webkit-line-clamp: 2;*/
/*  -webkit-box-orient: vertical;*/
/*}*/
/*.clearfix:after,*/
/*.clearfix:before {*/
/*  content: "";*/
/*  display: table;*/
/*}*/
/*.clearfix:after {*/
/*  clear: both;*/
/*}*/
/*.clearfix {*/
/*  zoom: 1;*/
/*}*/
/*.picture {*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/
/*.picture img {*/
/*  transition: all 0.7s;*/
/*  -moz-transition: all 0.7s;*/
/*  -webkit-transition: all 0.7s;*/
/*}*/
/*.each-item:hover .picture img {*/
/*  transform: scale(1.1);*/
/*  -moz-transform: scale(1.1);*/
/*  -webkit-transform: scale(1.1);*/
/*  zoom: 1.1 \9;*/
/*}*/
/*input:-webkit-autofill {*/
/*  box-shadow: 0 0 0px 1000px white inset !important;*/
/*}*/
/*input[type="button"],*/
/*input[type="submit"],*/
/*input[type="reset"] {*/
/*  -webkit-appearance: none;*/
/*}*/
/*textarea {*/
/*  -webkit-appearance: none;*/
/*}*/
/*.box {*/
/*  width: 92%;*/
/*  max-width: 1700px;*/
/*  margin: auto;*/
/*}*/
/*input::placeholder {*/
/*  color: #999;*/
/*}*/
/*input::-webkit-input-placeholder {*/
/*  color: #999;*/
/*}*/
.r7  .page {
  position: relative;
  width: 100%;
  padding-top: 43%;
  background-size: cover;
  color: #FFFFFF;
  line-height: 1.8;
}
.page .tit {
  font-weight: bold;
  font-size: 48.28px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.tit.wow.fadeInUp {}
.page .content {
  font-size: 20px;
}
.page1{
  padding-top: 47%;
}
.page1 .lans {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 12.8%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.page1 .lans .tips_list{

}
.page1 .tit{
  font-size: 68px;
  line-height: 1.2;
}
.page1 .tips_list li{position: absolute;left: 34%;bottom: 24%;font-size: 23px;color: #fff;width: 300px;text-align: center;}

.page1 .tips_list li:nth-child(2){
  left: auto;
  right: 29%;
  bottom: 12%;
}
.page66{
  background: linear-gradient(to bottom ,#262626,#040404);
  padding-top: 35%;
}
.page6 .lans {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.page2{
  padding-top: 40%;
}
.page2 .lans {
  top: 33%;
  width: 80%;
}
.page6 .lans .pages_item {
  padding-top: 7vh;
  text-align: center;
}
.page6 .lans .pages_item li {
  display: inline-block;
  width: 20%;
}
.page6 .lans .pages_item li .icon {
  width: 170px;
  margin: 15px auto;
}
.page6 .lans .pages_item li .ico_tips {
  font-size: 30px;
}
.page3 .lans {
  bottom: 20%;
  left: 8.5%;
  width: 40%;
  position: absolute;
}
.pc_none {
  display: block!important;
}
.sj_none {
  display: none!important;
}
.item_page6{
  width: 175px;
  margin:60px auto;
  position: relative;
}
.item_page6 .lans1 li{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  color: #fff;
}
.item_page6 .lans1 li:nth-child(1){left: auto;top: 10%;right: 100%;width: 120px;}
.item_page6 .lans1 li:nth-child(2){
  left: calc(50% - 100px);
  top: -20%;
  width: 200px;
}
.item_page6 .lans1 li:nth-child(3){
  left: 100%;
  top: 10%;
  width: 90px;
}

.page5{
  padding-top: 47%;
}
.page5 .lans {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  width: 85%;
}
.page5 .lans .content{
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 1680px) {
  .page1 .tit{
    font-size: 68px;
    line-height: 1.2;
  }
  .page1 .tips_list li{

    left: 32%;
    bottom: 24%;
    font-size:19px;
    width: 250px;
  }

  .page1 .tips_list li:nth-child(2){
    left: auto;
    right: 29%;
    bottom: 12%;
  }
  .pa
}
@media screen and (max-width: 1440px) {
  .page .tit {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .page1 .tit{
    font-size: 50px;
  }
  .page1 .tips_list li{

    left: auto;
    right: 50%;
    font-size:16px;
    line-height: 1;
    width:auto;
    padding-right: 20px;
  }
  .page .content {
    font-size: 14px;
  }
  .page6 .lans .pages_item {
    padding-top: 1.5vh;
  }
  .page6 .lans{
    width:90%;
  }
  .page6 .lans .pages_item li {
    width: 27%;
  }
  .page6 .lans .pages_item li .icon {
    width: 100px;
    margin: 10px auto;
  }
  .page6 .lans .pages_item li .ico_tips {
    font-size: 20px;
  }

}

@media screen and (max-width: 1200px) {

  .page10 .text-box {
    transform: scale(.55);
    -webkit-transform:scale(.55);
  }
}
@media screen and (max-width: 1024px) {
  .page .tit {
    font-size: 24px;
  }
  .page1 .tit{
    font-size: 30px;
    line-height: 1.5;
  }
  .page .content {
    font-size: 13px;
    width: 89%;
    margin: auto;
  }
  .page3 .content{
    width:100%;
  }
  .page6 .lans .pages_item li .icon {
    max-width: 80%;
    width: 60px;
    margin: 15px auto;
  }
  .page6 .lans .pages_item li .ico_tips {
    font-size:12px;
  }
  .page3 .lans{
    bottom: 10%;
  }
}
@media screen and (max-width: 767px) {
  .item_page6 {
    transform: scale(.7);
    -moz-transform: scale(.7);
    -webkit-transform: scale(.7);
    zoom: .7\9;
    margin: 30px auto;
  }
  .page1 .tips_list li{
    font-size: 13px;
    width:50%;
    right: 42%;
    bottom: 28%;
  }
  .page1 .tips_list li:nth-child(2){
    right:5%;
    bottom: 9%;
  }
  .page1 .lans{
    width: 90%;
    top: 33%;
    left: 5%;
  }
  .page {
    padding-top: 0;
  }
  .page66{
    padding-top: 80%;
  }
  .pc_none {
    display: none!important;
  }
  .sj_none {
    display: block!important;
  }
  .page6 .lans {
    width: 90%;
    top: 8%;
    left: 5%;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    text-align: center;
  }

  .page4 .lans {
    top: 8%;
  }
  .page5 .lans {
    top: 25%;
    width: 100%;
  }
  .page6 .lans .pages_item {
    padding-top: 20px;
  }
  .page6 .lans .pages_item li {
    display: inline-block;
    width: 30%;
    max-width: 100px;
  }

  .page3 .lans {
    bottom: 7%;
    left: 5%;
    width: 80%;
  }
}
