@charset "UTF-8";
/* S 基础操作样式
 * style comment! */
/*html,*/
/*body,*/
/*dl,*/
/*dd,*/
/*img,*/
/*form,*/
/*div,*/
/*ul,*/
/*ol,*/
/*li,*/
/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6,*/
/*p,*/
/*button {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  border: 0;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Arial';*/
/*  src: url('../fonts/arial/Arial.eot');*/
/*  src: url('../fonts/arial/Arial.ttf') format('truetype');*/
/*}*/

/*@font-face { font-family:'Arial'; src:url('../fonts/arial/Arial.otf'); }*/
/*@font-face { font-family:'Arial'; src:url('../fonts/arial/Arial.woff'); }*/
/*@font-face { font-family:'Arial'; src:url('../fonts/arial/Arial.ttf'); }*/
/*body {*/
/*  font-size: 12px;*/
/*  font-family: "Microsoft YaHei", '微软雅黑', "Arial";*/
/*  background-color: #222222;*/
/*  width: 100%;*/
/*  overflow-x: hidden;*/
/*}*/
/*input,*/
/*textarea,*/
/*button {*/
/*  padding: 0;*/
/*  font-family: "Microsoft YaHei", '微软雅黑', "Arial";*/
/*}*/
/*input[type="button"],*/
/*input[type="submit"],*/
/*input[type="reset"] {*/
/*  -webkit-appearance: none;*/
/*}*/
/*input {*/
/*  outline: none;*/
/*  -webkit-appearance: none;*/
/*  !* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); *!*/

/*}*/
/*input:focus {*/
/*  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*  -webkit-user-modify: read-write-plaintext-only;*/
/*}*/
/*.fix:after {*/
/*  clear: both;*/
/*  content: "";*/
/*  display: table;*/
/*}*/
/*input:focus,*/
/*textarea:focus {*/
/*  outline: none;*/
/*}*/
/*textarea {*/
/*  -webkit-appearance: none;*/
/*}*/
/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
/*  font-weight: normal;*/
/*}*/
/*a {*/
/*  cursor: pointer;*/
/*}*/
/*ul,*/
/*ol,*/
/*li {*/
/*  list-style-type: none;*/
/*}*/
/*.slick-slide:focus,*/
/*input:focus,*/
/*a:focus {*/
/*  outline: none !important;*/
/*}*/
/*img {*/
/*  border: 0;*/
/*  vertical-align: middle;*/
/*  max-width: 100%;*/
/*}*/
/*select,*/
/*input,*/
/*textarea,*/
/*button {*/
/*  vertical-align: middle;*/
/*  outline: none;*/
/*}*/
/*table {*/
/*  border-collapse: collapse;*/
/*  border-spacing: 0;*/
/*}*/
/*tr {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/*td {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/*iframe {*/
/*  border: none;*/
/*}*/
/*select {*/
/*  appearance: none;*/
/*  -moz-appearance: none;*/
/*  -webkit-appearance: none;*/
/*  outline: none;*/
/*}*/
/*a:link {*/
/*  text-decoration: none;*/
/*}*/
/*a:visited {*/
/*  text-decoration: none;*/
/*}*/
/*a:hover {*/
/*  text-decoration: none;*/
/*}*/
/*a:active {*/
/*  text-decoration: none;*/
/*}*/
/*.hidden {*/
/*  display: none;*/
/*  visibility: hidden;*/
/*}*/
/*.wrap {*/
/*  border: 0;*/
/*  padding: 0;*/
/*  width: 1150px;*/
/*  margin: 0 auto;*/
/*  *zoom: 1;*/
/*}*/
/*.wrap:after {*/
/*  clear: both;*/
/*  content: "";*/
/*  display: table;*/
/*}*/
/*.clear {*/
/*  clear: both;*/
/*  font-size: 0;*/
/*  line-height: 0;*/
/*  height: 0;*/
/*  visibility: hidden;*/
/*}*/
/*.fix {*/
/*  *zoom: 1;*/
/*}*/
/*.radius-wrap {*/
/*  width: 44px;*/
/*  height: 44px;*/
/*  top: 92vh;*/
/*  left: 50%;*/
/*  right: 50%;*/
/*  margin: 0 -22px;*/
/*  z-index: 1000;*/
/*  position: absolute;*/
/*  cursor: pointer;*/
/*}*/
/*.radius {*/
/*  width: 0.44rem;*/
/*  height: 0.44rem;*/
/*  border: 1px solid #fff;*/
/*  border-radius: 50%;*/
/*  text-align: center;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/
/*a {*/
/*  display: inline-block;*/
/*  max-width: 100%;*/
/*}*/
/*.ones {*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*  white-space: nowrap;*/
/*}*/
/*.twos {*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*  display: -webkit-box;*/
/*  -webkit-line-clamp: 2;*/
/*  -webkit-box-orient: vertical;*/
/*}*/
/*.clearfix:after,*/
/*.clearfix:before {*/
/*  content: "";*/
/*  display: table;*/
/*}*/
/*.clearfix:after {*/
/*  clear: both;*/
/*}*/
/*.clearfix {*/
/*  zoom: 1;*/
/*}*/
/*.picture {*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/
/*.picture img {*/
/*  transition: all 0.7s;*/
/*  -moz-transition: all 0.7s;*/
/*  -webkit-transition: all 0.7s;*/
/*}*/
/*.each-item:hover .picture img {*/
/*  transform: scale(1.1);*/
/*  -moz-transform: scale(1.1);*/
/*  -webkit-transform: scale(1.1);*/
/*  zoom: 1.1 \9;*/
/*}*/
/*input:-webkit-autofill {*/
/*  box-shadow: 0 0 0px 1000px white inset !important;*/
/*}*/
/*input[type="button"],*/
/*input[type="submit"],*/
/*input[type="reset"] {*/
/*  -webkit-appearance: none;*/
/*}*/
/*textarea {*/
/*  -webkit-appearance: none;*/
/*}*/

/*input::placeholder {*/
/*  color: #999;*/
/*}*/
/*input::-webkit-input-placeholder {*/
/*  color: #999;*/
/*}*/


.box {
    width: 92%;
    max-width: 1200px;
    margin: auto;
}

.page {
    position: relative;
    width: 100%;
    padding-top: 52%;
    background-size: cover;
    color: #FFFFFF;
    line-height: 1.8;
    background-color: #151516;
}
.page .tit {
    font-weight: bold;
    font-size: 48.28px;
    line-height: 1.5;
    margin-bottom: 25px;
    color: #ff6000;
}

.tit.wow.fadeInUp {}
.page .content {
    /*font-weight: lighter;*/
    font-size: 20px;
    color: #a1a1a6;
}
.content-lans{
    color: #ff6000;
    font-size: 16px;
    padding: 30px 0;
}
.page1{

}
.page1 .lans {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    -webkit-transform: translate( -50%, -50%);
}
.page1 .tips {
    font-size: 24px;
}
.page1 .tit {
    font-size: 68px;
    margin: 0;
}
.page1 .content {
    font-size: 30px;
    color: #FFFFFF;
}
.page2 .lans {
    width: 35%;
    position: absolute;
    top: 45%;
    right: 4%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.page3 .lans {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: left;
}
.page3 .wrap1.pc_none{
    display: flex!important;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: center;*/
    margin-bottom: 30px;
}
.page3 .more{
    margin: 100px 0 0;
}
.page3 .video{
    position: relative;
    padding: 0;
}
.page3 .tips{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;

}
.page3 .desc{
    background: #1e1e1f;
    border-radius: 20px;
}
.page3 .icon-list{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.page3 .icon-list li{
    text-align: left;
    width: 29%;
    display: inline-block;
    vertical-align: top;
    margin: 0 1%;
    padding: 40px 0;
}
#video{
    border-radius: 20px;
    overflow: hidden;
}
.page3 .icon-list li p{
    padding-bottom: 14px;
}
.page6 .lans ,.page2s .lans {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}
.page2 .lans {
    text-align: left;
}
.page5 .lans {
    text-align: center;
}
.page5 .content{
    text-align: l;
    color:#fff;
    font-weight:bold;
    margin-top: 50px;
}
.page6 .pic-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    font-size: 16px;
}
.page6 .pic-list p{
    margin-top:20px
}
.page6 .pic-list li{
    width: 45%;
    margin:100px 0 50px;
}
.page7 {
    overflow: hidden;
}
.page7 .img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.page7 .lans {
    top: 45%;
    left: 15%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    position: absolute;
    z-index: 3;
    max-width: 700px;
}
.page7 .icon-list{

    padding: 30px 0 0;
}
.page7 .icon-list li{
    /* display: inline-block; */
    /* text-align: center; */
    font-size: 16px;
    margin-right: 80px;
    color: #a1a1a6;
    margin-top: 30px;
}
.page7 .icon-list img{
    display: block;
    width: 65px;
    margin: 30px auto 5px;
}
.page8 {
    overflow: hidden;
}
.pages-long{
    padding-top: 55%;
}
.page6{
    padding-top:60%;
}
.page3,.page5, .p5-sj{
    background:#0f0f0f;
}
.page8 .lans {
    top: 5%;
    width: 90%;
    left: 5%;
    text-align: center;
    position: absolute;
}

.page8 .content{
    width:50%;
    margin:auto;
    color: #a1a1a6;
}
.more{
    display: block;
    margin: 30px auto;
    width: 235px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    border:1px solid  #a1a1a6;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}
.more img{
    width: 24px;
    margin-left: 20px;
    vertical-align: middle;
}
.page8 .text-box {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0) scale(1.02);
    -webkit-transform: translate(-50%, 0) scale(1.02);
}
.page8 .img-box {
    position: relative;
    display: inline-block;
}
.page8 .column {
    position: absolute;
    z-index: 10;
}
.page8 .name {
    font-size: 20px;
    margin-top: 10px;
}
.page8 .column1 {
    left: 0;
    bottom: 16%;
}
.page8 .name1 {
    text-align: right;
}
.page8 .column2 {
    left: 11%;
    bottom: 53%;
}
.page8 .column3 {
    left: 30%;
    bottom: 77%;
}
.page8 .column4 {
    right: 30%;
    bottom: 77%;
}
.page8 .column5 {
    right: 11%;
    bottom: 53%;
}
.page8 .column6 {
    right: 0;
    bottom: 16%;
}
.page8 .img1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.pc_none {
    display: block!important;
}
.sj_none {
    display: none!important;
}
.page6 .pic-list1{
    display: flex!important;
}

.page6 .pic-list.pc_none{
    display: flex!important;
}
.page6 .pic-list.sj_none{
    display: none!important;
}
@keyframes firstdiv {
    0% {
        box-shadow: 0 0 10px 0 #2ec212;
    }
    100% {
        box-shadow: 0 0 10px 6px #2ec212;
    }
}
.page3 .wrap1 .left{
    max-width:800px;
    width:calc(100% - 400px)
}

.page11 .lans {
    bottom: 20%;
    left: 8.5%;
    width: 40%;
    position: absolute;
}
@media screen and (max-width: 1680px) {

    .page8 .text-box {
        transform: scale(.8);
        -webkit-transform:scale(.8);
        left: 0;
        transform-origin: center bottom;
    }
    .box {
        max-width:1000px;
    }
    .page .tit{
        font-size:38px
    }
}
@media screen and (max-width: 1550px) {
    .page .tit {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    .box {
        max-width: 950px;
    }
    .page1 .tit{
        font-size: 48.28px;
    }
    .page .content {
        font-size: 14px;
    }
    .page8 .text-box {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        left: 0;
        transform-origin: center bottom;
    }
    .pages-long{
        padding: 50px 0;
    }
    .pages-long .lans{
        position: static;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
    }.page3 .more {
         margin: 50px 0 0;
     }.more {
          margin: 20px auto;
          width:150px;
          height: 40px;
          line-height: 40px;
          border-radius: 10px;
          font-size: 14px;
      }
    .more img {
        width: 17px;
        margin-left: 10px;
    }.page3 .icon-list li p {
         padding-bottom: 15px;
     }
    .page3 .icon-list{
        font-size: 16px;
    }
    .page7 .icon-list img{
        width: 45px;
    }
    .page7 .icon-list li{
        font-size: 14px;
        margin-top: 20px;
    }
    .page7 .icon-list{
        /* padding-top: 20px; */
    }
}

@media screen and (max-width: 1200px) {
    .page6 .pic-list p{
        font-size: 10px;
        margin-top:10px;
        text-align:center;
    }
    .page6 .pic-list li{
        max-width: 49%;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        margin: 10px 0 5px;
    }
    .page6 .pic-list img{
        width:75%;
        margin:auto;
        display:block;
    }
    .page{
        padding-top: 60%;
    }
    .pages-long{
        padding: 50px 0;
    }
    .page8 .text-box {
        transform: scale(.55);
        -webkit-transform:scale(.55);
    }
}
@media screen and (max-width: 1024px) {
    .page7 .lans{
        left: 5%;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
    }
    .page .tit {
        font-size: 24px;
    }
    .page1 .tit{
        font-size: 48.28px;
    }
    .page .content {
        font-size: 10px;
    }
    .page8 .text-box {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        left: 0;
    }
    .page3 .tips{
        font-size: 15px;
    }
}
@media screen and (max-width: 767px) {


    .page20 .bottom-lans {
        width: 60%;
    }
    .content-lans{
        font-size: 12px;
        padding: 20px 0;
    }
    .m-product-page{
        padding:0
    }
    .prod-top-nav{
        /*top:.9rem;*/
    }
    .page {
        padding: 30px 0;
    }
    .page8{
        padding: 150px  0 0;
    }
    .page3 .wrap1.pc_none{
        display:none!important;
    }
    .page3 .wrap1 .left{
        width:100%;
    }
    .page2,.page14{
        background: #151516;
    }
    .page3,.page6{
        background: #0f0f0f;
    }
    .page2s{
        position: relative;
        padding: 50px 0;
    }
    .page7,.p5-sj,.page1{
        padding:0;
    }

    .page2s .lans{
        position: static;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        text-align: left;
    }
    .page3 .icon-list li p {
        padding-bottom:5px;
        font-size: 12px;
    }
    .page3 .more{
        margin: 20px 0;
    }
    .page3 .wrap1{
        text-align: left;
    }
    .p5-sj .lans{
        position: absolute;
        top: 18%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    .page6 .pic-list2{
        display: block;
        width: 100%;
    }
    .page6 .pic-list li{
        margin-top: 10px;
        overflow: hidden;
        border-radius: 6px;
    }
    .page7 .icon-list{
        /* display: none; */
        padding: 10px 0 0;
    }
    .pc_none {
        display: none!important;
    }
    .sj_none {
        display: block!important;
    }
    .page2 .lans {
        width: 90%;
        top: 4%;
        left: 5%;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        text-align: center;
    }
    .page3 .lans {
        width: 90%;
        top: 3%;
        left: 5%;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        text-align: center;
    }
    .page3 .lans .pages_item {
        padding-top: 5px;
    }
    .page3 .lans .pages_item li {
        display: inline-block;
        width: 30%;
        max-width: 100px;
    }
    /*.page6 .lans {*/
    /*  width: 90%;*/
    /*  top: 3%;*/
    /*  left: 5%;*/
    /*  transform: translate(0, 0);*/
    /*  -webkit-transform: translate(0, 0);*/
    /*  text-align: center;*/
    /*}*/
    /*.page6 .lans .pages_item {*/
    /*  padding-top: 5px;*/
    /*}*/
    /*.page6 .lans .pages_item li {*/
    /*  display: inline-block;*/
    /*  width: 30%;*/
    /*  max-width: 100px;*/
    /*}*/

    .page7 .img {
        display: none;
    }

    .page7 .lans {
        width: 81%;
        top: 8%;
        left: 8%;
        text-align: left;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    .page8 .img-box > img {
        /* width: 93%; */
        /* margin-left: -5%; */
    }
    .page8 .name {
        font-size: 13px;
        margin-top: 0;
        padding-right: 20px;
    }
    .page8 .icon {
        max-width: 70%;
    }
    .page8 .column {
        position: absolute;
        width: 15%;
    }
    .page .tit {
        font-size: 22px;
        margin-bottom: 12px;
        line-height: 1.4;
    }
    .page1 .tips{
        font-size: 22px;
        line-height: 1.5;
        width: 55%;
    }
    .page1 .tit{font-size:36px;margin: 15px 0;}
    .page .content {
        opacity:1;
        line-height: 1.5;
        font-size: 13px;
        margin: 5px 0 35px;
        font-weight: normal;
        color: #a1a1a6;
    }
    .page14 .content {
        margin: 15px 0 0;
    }
    .page8 .content{
        width: 98%;
        margin: 10px a;
    }
    .page8 .text-box {
        transform: scale(0.85);
        -webkit-transform: scale(0.85);
        left: 0;
    }
    .page8 .name {
        font-size: 12px;
        margin-top: 0;
        padding-right: 10PX;
    }
    .page8 .column {
        position: absolute;
        width: 72px;
    }
    .page8 .column1, .page8 .column6{
        bottom: 8%;
        left: -3%;
    }
    .more img{
        width: 16px!important;
        margin-left: 10px!important;
    }
    .page8 .column2{
        right: -9%;
    }
    .page8 .column3{
        left: 32%;
        bottom: 63%;
    }
    .page8 .column4{
        right: 25%;
        bottom: 75%;
    }
    .page8 .column5{
        right: 5%;
        bottom: 45%;
    }
    .page8 .column6{
        right: -9%;
        left: auto;
    }
    .page11 .lans {
        top: 5%;
        left: 5%;
        width: 90%;
    }
    .page11{
        padding: 0;
    }
    .more {
        margin: 10px auto 0;
        width:120px;
        height: 32px;
        line-height: 32px;
        border-radius: 5px;
        font-size: 12px;
    }
}
body{
    overflow-x: hidden;
}